<section class="container mx-auto py-16 px-3 max-w-3xl">
  <div class="flex justify-center mb-3">
    <div class="flex flex-col">
      <%= image_tag "profile.jpg", class: "rounded-full mx-auto", width: 128 %>
      <div class="text-2xl text-gray-500 font-normal">
        Emilien <i>"MiRiGaN"</i> <strong class="text-black font-exrtabold">BILLARD</strong>
      </div>
    </div>
  </div>
  <div class="prose text-justify">
    <p>
      <strong>Hi! 👋</strong> I'm a Full-Stack Software Developper, based near Bordeaux.
      <br/>
      I'm passionate by my work to create <strong>powerfull products</strong> for users and write <strong>well tested clean code</strong>.
      Over the past few years working in companies, I have gained experience in languages like <strong>Ruby</strong> and <strong>Javascript</strong>, among others. I enjoy working with Git, focusing on software quality, and functional testing.
    </p>
    <p>
      <strong>Learning and discovering</strong> the technologies of tomorrow occupies my free time in order to <strong>improve my projects</strong>, both professional and personal.
      I'm also a huge enjoyer of discovering new way solve developpers' problems and users' needs.
    </p>
    <%# <p>
      I'm a big lover of open source and self hosting.
    </p> %>
  </div>
</section>

<section class="py-8 bg-gray-50">
  <div class="container mx-auto max-w-6xl px-3">
    <h2 class="uppercase text-center text-4xl mb-8 font-bold">Skills</h2>
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 sm:px-8">
        <h3 class="mb-4 border-b border-violet-600 pb-4 text-2xl font-bold">Development</h3>
        <ul class="leading-loose">
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> Ruby / Ruby on Rails / Rspec
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> JavaScript / Express
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> Typescript / Nest
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> SQL / PostgreSQL / MySQL
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> Stimulus / Hotwire
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> PHP / Laravel
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> CSS / Sass / Bootstrap / Tailwind CSS
          </li>
        </ul>
      </div>

      <div class="w-full md:w-1/2 sm:px-8 mt-8 md:mt-0">
        <h3 class="mb-4 border-b border-violet-600 pb-4 text-2xl font-bold">Tools</h3>
        <ul class="leading-loose">
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> Git
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> GitLab / GitHub
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> GitLabCI / CircleCI / Travis
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> Docker / Podman / Kubernetes
          </li>
          <li class="flex items-center">
            <i class="ph ph-check-circle mr-2 text-violet-600"></i> MacOS / Linux
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-8 container max-w-4xl px-3 mx-auto">
  <h2 class="uppercase text-center text-4xl mb-8 font-bold">Work Experience</h2>
  <div>
    <div class="group relative flex gap-x-5">
      <div class="relative">
        <div class="relative z-10 size-6 flex justify-center items-center">
          <%= image_tag "experiences/epicery.png", width: 128, loading: "lazy" %>
        </div>
        <div class="absolute top-8 bottom-2 start-3 w-px bg-gray-200"></div>
      </div>
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-sm text-gray-600">June 2022 - January 2025</h3>
        <p class="font-semibold text-lg text-gray-800">
          Full-Stack Developper at <a href="https://www.epicery.com/" class="underline hover:no-underline" target="_blank" rel="noreferrer">Epicery</a>
        </p>
        <p class="mt-1 text-md text-gray-600">
          Epicery was a marketplace for local shops, I was a Full Stack developer working with Ruby on Rails, Stimulus, PostgreSQL, RSpec, NodeJS and Kubernetes.
        </p>
        <ul class="list-disc ms-6 mt-3 space-y-1.5">
          <li class="ps-1 text-md text-gray-600">Contribute to Epicery B2C web site and API for mobile app / Ruby on Rails, Stimulus, PostgreSQL and RSpec.</li>
          <li class="ps-1 text-md text-gray-600">Migrate the remaining NodeJS project to our Rails monolithe</li>
          <li class="ps-1 text-md text-gray-600">Rework UI with the gem ViewComponent, Stimulus and Turbo</li>
        </ul>
      </div>
    </div>
    <div class="group relative flex gap-x-5">
      <div class="relative">
        <div class="relative z-10 size-6 flex justify-center items-center">
          <%= image_tag "experiences/lr-technologies.png", width: 128, loading: "lazy" %>
        </div>
        <div class="absolute top-8 bottom-2 start-3 w-px bg-gray-200"></div>
      </div>
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-sm text-gray-600">November 2019 - June 2022</h3>
        <p class="font-semibold text-lg text-gray-800">
          Full-Stack Developper at <a href="https://lrtechnologies.fr/fr/" class="underline hover:no-underline" target="_blank" rel="noreferrer">LR Technologie Bordeaux</a>
        </p>
        <p class="mt-1 text-md text-gray-600">
          For LR Technologies I worked at Ynov Campus HQ at Mérignac as PHP / Laravel Full-Stack developper.
        </p>
        <ul class="list-disc ms-6 mt-3 space-y-1.5">
          <li class="ps-1 text-md text-gray-600">Update PHP and Laravel version to be up to date.</li>
          <li class="ps-1 text-md text-gray-600">Migrate hosting to an OVH self hosted Kubernetes cluster.</li>
          <li class="ps-1 text-md text-gray-600">Integrate a PDF generator and DocuSign service to simplify workflow for teams.</li>
        </ul>
      </div>
    </div>
    <div class="group relative flex gap-x-5">
      <div class="relative">
        <div class="relative z-10 size-6 flex justify-center items-center">
          <%= image_tag "experiences/snapp.png", width: 128, loading: "lazy" %>
        </div>
        <div class="absolute top-8 bottom-2 start-3 w-px bg-gray-200"></div>
      </div>
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-sm text-gray-600">September 2016 - October 2019</h3>
        <p class="font-semibold text-lg text-gray-800">
          Back-End Developper at <a href="https://www.snapp.fr/" class="underline hover:no-underline" target="_blank" rel="noreferrer">Snapp'</a>
        </p>
        <p class="mt-1 text-md text-gray-600">
          Snapp' is an agency wich create mobile application for various client as Monoprix, local municipality or Startups.
        </p>
        <ul class="list-disc ms-6 mt-3 space-y-1.5">
          <li class="ps-1 text-md text-gray-600">I developed API and Back-office to manage applications / Ruby on Rails, PostgreSQL.</li>
          <li class="ps-1 text-md text-gray-600">Use ReactNative to create cross-platform applications.</li>
        </ul>
      </div>
    </div>
    <div class="group relative flex gap-x-5">
      <div class="relative">
        <div class="relative z-10 size-6 flex justify-center items-center">
          <%= image_tag "experiences/vision-inde.png", width: 128, loading: "lazy" %>
        </div>
        <div class="absolute top-8 bottom-2 start-3 w-px bg-gray-200"></div>
      </div>
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-sm text-gray-600">February 2016 - June 2016</h3>
        <p class="font-semibold text-lg text-gray-800">
          Full-Stack Developper at <a href="https://www.visionindependentproductions.com/" class="underline hover:no-underline" target="_blank" rel="noreferrer">Vision Independent productions</a> for an internship in Dublin
        </p>
        <p class="mt-1 text-md text-gray-600">
          Vision Independent Productions (VIP) is an Irish based company that develops unique entertainment and lifestyle formats for Television and the Web.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-8 container max-w-4xl px-3 mx-auto">
  <h2 class="uppercase text-center text-4xl mb-8 font-bold">Education</h2>
  <div>
    <div class="group relative flex gap-x-5">
      <div class="relative">
        <div class="relative z-10 size-6 flex justify-center items-center">
          <i class="ph ph-graduation-cap text-2xl"></i>
        </div>
        <div class="absolute top-8 bottom-2 start-3 w-px bg-gray-200"></div>
      </div>
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-sm text-gray-600">September 2018 - June 2019</h3>
        <p class="font-semibold text-lg text-gray-800">
          Tech Lead - OpenClassRooms
        </p>
      </div>
    </div>
    <div class="group relative flex gap-x-5">
      <div class="relative">
        <div class="relative z-10 size-6 flex justify-center items-center">
          <i class="ph ph-graduation-cap text-2xl"></i>
        </div>
        <div class="absolute top-8 bottom-2 start-3 w-px bg-gray-200"></div>
      </div>
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-sm text-gray-600">September 2015 - June 2016</h3>
        <p class="font-semibold text-lg text-gray-800">
          Licence Professionnelle DAWIN (Développement d'Application et Innovation Numérique) - IUT de Bordeaux
        </p>
      </div>
    </div>
    <div class="group relative flex gap-x-5">
      <div class="relative">
        <div class="relative z-10 size-6 flex justify-center items-center">
          <i class="ph ph-graduation-cap text-2xl"></i>
        </div>
        <div class="absolute top-8 bottom-2 start-3 w-px bg-gray-200"></div>
      </div>
      <div class="grow pb-8 group-last:pb-0">
        <h3 class="mb-1 text-sm text-gray-600">September 2013 - June 2015</h3>
        <p class="font-semibold text-lg text-gray-800">
          DUT Informatique - IUT de Limoges
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-8 container max-w-4xl px-3 mx-auto">
  <h2 class="uppercase text-center text-4xl mb-8 font-bold">Hobbies</h2>
  <div class="flex flex-wrap justify-around text-violet-500">
    <div class="w-1/2 md:w-1/3 text-center mb-6">
      <div class="bg-violet-200 mb-4 inline-block p-8 rounded-full">
        <i class="ph-light ph-terminal-window text-6xl"></i>
      </div>
      <p class="text-sm font-bold m-0">Development</p>
    </div>
    <div class="w-1/2 md:w-1/3 text-center mb-6">
      <div class="bg-violet-200 mb-4 inline-block p-8 rounded-full">
        <i class="ph-light ph-game-controller text-6xl"></i>
      </div>
      <p class="text-sm font-bold m-0">Video Games</p>
    </div>
    <div class="w-1/2 md:w-1/3 text-center mb-6">
      <div class="bg-violet-200 mb-4 inline-block p-8 rounded-full">
        <i class="ph-light ph-laptop text-6xl"></i>
      </div>
      <p class="text-sm font-bold m-0">Technology</p>
    </div>
    <div class="w-1/2 md:w-1/3 text-center mb-6">
      <div class="bg-violet-200 mb-4 inline-block p-8 rounded-full">
        <i class="ph-light ph-flask text-6xl"></i>
      </div>
      <p class="text-sm font-bold m-0">Siences</p>
    </div>
    <div class="w-1/2 md:w-1/3 text-center mb-6">
      <div class="bg-violet-200 mb-4 inline-block p-8 rounded-full">
        <i class="ph-light ph-lego text-6xl"></i>
      </div>
      <p class="text-sm font-bold m-0">Lego</p>
    </div>
    <div class="w-1/2 md:w-1/3 text-center mb-6">
      <div class="bg-violet-200 mb-4 inline-block p-8 rounded-full">
        <i class="ph-light ph-bicycle text-6xl"></i>
      </div>
      <p class="text-sm font-bold m-0">Cycling</p>
    </div>
  </div>
</section>
