<footer>
  <div class="mx-auto max-w-7xl overflow-hidden py-12 px-4 sm:px-6 lg:px-8 text-gray-400">
    <div class="mt-8 flex justify-center space-x-6 text-3xl">
      <%= link_to "https://github.com/Mirigan" do %>
        <i class="ph-light ph-github-logo"></i>
      <% end %>
      <%= link_to "https://gitlab.com/mirigan" do %>
        <i class="ph-light ph-gitlab-logo"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/emilien-billard-4b2684123/" do %>
        <i class="ph-light ph-linkedin-logo"></i>
      <% end %>
      <%= link_to "https://bsky.app/profile/mirigan.me" do %>
        <i class="ph-light ph-twitter-logo"></i>
      <% end %>
      <%= link_to "mailto:hello@mirigan.me" do %>
        <i class="ph-light ph-envelope-open"></i>
      <% end %>
    </div>
    <p class="mt-4 text-center text-base">
      <i class="ph-light ph-copyright"></i> <%= Date.current.year %> Emilien Billard. All rights reserved.
    </p>
  </div>
</footer>
